<h1> Register as a new user </h1>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li> <%= error %> </li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password %>
  <%= f.password_field :password_confirmation %>

  <%= f.button :submit %>
<% end %>
