<!DOCTYPE html>
<html>
  <head>
    <title>Matts List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>ConList</h1>
    <% if logged_in %>
      <%= link_to 'Home', root_url %>
      <%= link_to 'Logout', root_url %>
    <% else %>
      <%= link_to 'Home', root_url %>
      <%= link_to 'Register', new_user_path %>
      <%= link_to 'Login', new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
